.footer {
    width: 100%;
    height: 440px;
    background: linear-gradient(to right, #F0F0F0 40%, #004A8C 40%);

    &__wrapper {
        max-width: 1300px;
        margin: auto;
        padding-top: 60px;
        display: flex;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__left-block {
        p {
            margin-top: 40px;
            font-weight: 700;
            color: #004A8C;
        }
    }
   
    .left-block{
        display: flex;
        align-items: center;
        margin-top: 158px;
        column-gap: 260px;

        a{
            color: rgba(74, 74, 73, 1);
            border-bottom: 1px solid rgba(74, 74, 73, 1);
        }
    }
    .mini-btn:hover{
        border: 1px solid rgba(0, 74, 140, 1);
        color: rgba(0, 74, 140, 1);
    }
    .mini-btn {
        border: 1px solid #A5A5A5;
        color: #A5A5A5;
        font-weight: 700;
    }

    &__social {
        display: flex;
        column-gap: 10px;
        .mini-btn:hover{
            img {
                    filter: brightness(0) saturate(100%) invert(17%) sepia(58%) saturate(3407%) hue-rotate(194deg) brightness(93%) contrast(101%);
                }
            border: 1px solid rgba(0, 74, 140, 1);    
        }
    }

    &__right-block {
        max-width: 850px;
        display: flex;
        column-gap: 70px;
        justify-content: end;
        flex-wrap: wrap;
    }

    &__nav {
        margin: 0;
        
        li:hover{
            a{
                color: rgba(32, 154, 215, 1);
            }
        }

        li {
            padding-bottom: 12px;

            a {
                font-size: 18px;
                color: white;
            }
        }
    }

    &__rules {
        display: flex;
        column-gap: 10px;

        a {
            font-size: 14px;
        }

        a:nth-child(2) {
            position: relative;
        }

        a:nth-child(2)::before {
            position: absolute;
            content: '';
            width: 1px;
            background: #A5A5A5;
            height: 100%;
            left: -6px;
        }
    }

    &__link {
        color: #A5A5A5;
        border-bottom: 1px solid #A5A5A5;
        height: fit-content;
    }

    .right-block {
        display: flex;
        align-items: center;
        max-width: 850px;
        margin-top: 140px;
        column-gap: 300px;
        span {
            color: white;
        }

        p {
            color: #A5A5A5;
            
            a:hover{
                color: rgba(32, 154, 215, 1);
            }

            a {
                color: white;
            }
        }
    }
}


@media screen and (max-width: 1300px) {
  .footer{
    background: linear-gradient(to bottom, #f0f0f0 40%, #004a8c 40%);
    height: auto;
    &__wrapper{
        padding: 40px 25px;
        flex-direction: column;
    }
    .left-block{
        margin-top: 70px;
        column-gap: 80px;
        a{
            display: none;
        }
  }
  &__right-block{
    margin-top: 70px;
    justify-content: start;
    flex-direction: column;
    .footer__nav{
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(228, 228, 228, 1);
    }
    .footer__rules{
        flex-direction: column;
        a:nth-child(2)::before{
            display: none;
        }
    }
         
    .footer__link{
        width: fit-content;
        margin-top: 40px;
    }
    .right-block{
        margin-top: 20px;
        column-gap: 0;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
  }
}
}