.history-hero {
 background-image: url(../img/history/history-bg.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: left;

 .wrapper-1300 {
  padding-top: 290px;
  color: white;
  padding-bottom: 140px;

  h2 {
   font-size: 74px;
   margin: 0;
  }

  p {
   font-size: 20px;
   margin-top: 40px;
   font-weight: 700;
   max-width: 650px;
  }
 }
}

.history {
 margin: 160px 0;

 &__box::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 2px;
  left: 50%;
  background: rgba(229, 176, 98, 1);
  z-index: 5;
 }

 &__box.open{
  max-height: 10000px;
  transition: all 1s;
 }

 &__box {
  position: relative;
  max-height: 400px;
  overflow: hidden;
  transition: all 1s;
 }

 &__inner-box {
  display: flex;
  max-width: 1140px;
  margin: auto;
  justify-content: space-between;
 }

 &__photo {
  position: relative;
  width: 480px;
  height: 300px;

  .photo-front {
   position: absolute;
   top: 0;
   right: 0;
   z-index: 2;
  }

  .photo-back {
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 1;
  }
 }

 &__info {
  span::before {
   position: absolute;
   content: '';
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: rgba(32, 154, 215, 1);
   top: 50%;
   transform: translateY(-50%);
   left: -94px;
   z-index: 5;
  }

  span {
   position: relative;
   display: block;
   margin-top: 15px;
   font-size: 28px;
   font-weight: 700;
   color: rgba(165, 165, 165, 1);
  }

  h3 {
   color: rgba(0, 74, 140, 1);
   font-size: 40px;
   margin-top: 15px;
   line-height: 90%;
  }

  max-width: 480px;
 }

 &__box:hover {
  .history__box-hover {
   height: 100px;
  }
 }

 &__box-hover {
  position: relative;
  top: -50px;
  height: 0;
  width: 100%;
  background: rgba(0, 74, 140, 1);
  transition: all .5s;
  overflow: hidden;

  .open-history {
   position: absolute;
   width: 42px;
   height: 42px;
   background: none;
   border: 2px solid white;
   border-radius: 50%;
   top: 50%;
   right: 520px;
   transform: translateY(-50%);
  }
 }

 &__box-hover.hidden {
  display: none;
 }

 &__full::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 2px;
  left: 50%;
  background: rgba(229, 176, 98, 1);
  z-index: 5;
 }

 &__full.open {
  max-height: 10000px;
  transform-origin: top;
 }

 &__full {
  position: relative;
  background-image: url(../img/history/full-history-decor.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: rgba(0, 74, 140, 1);
  transition: all 3s;
  overflow: hidden;
  margin-top: 100px;
  // max-height: 0px;

  .wrapper-1300 {
   padding: 160px 0;
   position: relative;

   .history-hidden {
    position: absolute;
    width: 42px;
    height: 42px;
    background: none;
    border: 2px solid white;
    border-radius: 50%;
    left: 50%;
    transform: translateX(90px);

    img {
     transform: rotate(-90deg);
    }
   }
  }

  .info-block {
   display: flex;
   justify-content: space-between;
   margin-bottom: 40px;

   .text-block {
    margin-right: 80px;
    max-width: 480px;

    span::before {
     position: absolute;
     content: '';
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background: rgba(32, 154, 215, 1);
     top: 50%;
     transform: translateY(-50%);
     left: -94px;
     z-index: 5;
    }

    span {
     position: relative;
     display: block;
     margin-bottom: 25px;
     color: rgba(165, 165, 165, 1);
     font-size: 28px;
    }

    h2 {
     font-size: 40px;
     color: white;
     font-weight: 700;
     margin: 0;
    }

    p {
     color: white;
     font-size: 20px;
     margin: 0;
    }
   }
  }
 }

}