.main-technologies {
 position: relative;

 .wrapper-1300 {
  position: relative;
  padding-bottom: 300px;

  .technoligies-button {
   background: none;
   border: 2px solid rgba(0, 74, 140, 1);
   width: 220px;
   height: 50px;
   color: rgba(0, 74, 140, 1);
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 4px;
   margin-top: 100px;
  }

  .title {
   padding-top: 160px;

   h2 {
    margin-top: 0;
    font-size: 62px;
    color: rgba(0, 74, 140, 1);
   }

   p {
    font-size: 20px;
    color: rgba(29, 29, 27, 1);
    max-width: 560px;
   }
  }

  .technologies {
   background: rgba(0, 74, 140, 1);
   background-image: url(../img/technologies-bg.png);
   background-repeat: no-repeat;
   background-position: bottom right;
   position: absolute;
   top: -70px;
   right: -175px;

   .inner-box {
    padding: 135px 180px 135px 110px;
    max-width: 840px;
    color: white;

    h4 {
     font-size: 28px;
     margin: 0;
     padding-bottom: 25px;
     border-bottom: 1px solid white;
    }

    ul {
     margin-top: 50px;

     li::before {
      position: absolute;
      content: '';
      background-image: url(../img/technologies-point.svg);
      width: 20px;
      height: 25px;
      top: 0px;
      left: 0;
     }

     li {
      position: relative;
      font-size: 18px;
      padding-bottom: 25px;
      padding-left: 40px;
     }
    }
   }
  }
 }
}

@media screen and (max-width: 1600px) {
 .main-technologies {
  .wrapper-1300 {
   .technologies {
    right: 0;

    .inner-box {
     max-width: 600px;
     padding: 100px 30px 60px 30px;
    }
   }
  }
 }
}

@media screen and (max-width: 1300px) {
 .main-technologies {
  .wrapper-1300 {
   padding: 0 0 100px 0;

   .title {
    h2 {
     font-size: 28px;
    }

    p {
     font-size: 14px;
    }

    h2,
    p {
     padding: 0 25px;
    }
   }

   .technologies {
    position: relative;
    top: 0;
    margin-top: 40px;

    .inner-box {
     max-width: 600px;
     padding: 50px 25px 50px 25px;

     h4 {
      font-size: 20px;
     }

     ul {
      li {
       font-size: 14px;
      }

     }
    }
   }

   .technoligies-button {
    position: absolute;
    bottom: 0;
    margin-left: 25px
   }
  }
 }
}