.reorganization{
    background-image: url(../img/reorganization-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    &__wrapper{
        color: white;
        padding: 160px 0;
        h5{
            font-size: 38px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
        }
    }
}
.reorganization::before, .reorganization::after{
    position: absolute;
    content: '';
    top: -8px;
    left: 0;
    width: 50%;
    height: 8px;
    background: #E5B062;
}
.reorganization::after{
    bottom: -8px;
    top: auto;
    right: 0;
    left: auto;
}

@media screen and (max-width: 1300px){
    .reorganization{
        &__wrapper{
            padding: 60px 25px;
            h5{
                font-size: 30px;
            }
            p{
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .reorganization {
        background-color: rgba(0, 74, 140, 1);
        background-image: none;
        &__wrapper {
            h5 {
                font-size: 28px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}