*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

main {
    overflow-x: hidden;
}

.wrapper {
    max-width: 1300px;
    margin: auto
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

button {
    cursor: pointer;
}

.btn-box {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 14px;
    background: #209AD7;
    border-radius: 4px;
    width: 260px;
    height: 55px;
    border: none;
}

.mini-btn {
    background: none;
    border: 0.5px solid white;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder {
    color: white;
    font-family: 'Raleway', sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

.bottom-line {
    position: relative;
}

.bottom-line::before {
    position: absolute;
    content: '';
    width: 30%;
    height: 8px;
    bottom: -8px;
    background: rgba(229, 176, 98, 1);
    right: 20%;
}

.wrapper-1300 {
    max-width: 1300px;
    margin: auto;
}

.wrapper-1080 {
    max-width: 1080px;
    margin: auto;
}

.back-to::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 1px;
    left: 2px;
    top: 50%;
    background: rgba(74, 74, 73, 1);
    transform: translateY(50%);
}

.back-to::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-bottom: 1px solid rgba(74, 74, 73, 1);
    border-left: 1px solid rgba(74, 74, 73, 1);
    left: 0;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
}

.back-to {
    position: relative;
    font-size: 20px;
    color: rgba(74, 74, 73, 1);
    margin-top: 60px;
    padding-left: 30px
}

.pages-block {
    margin-top: 40px;
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .change-page {
        height: 30px;
        width: 30px;
        background: none;
        color: rgba(165, 165, 165, 1);
        border: 1px solid rgba(165, 165, 165, 1);
        border-right: none;
    }

    .change-page.active {
        color: rgba(0, 74, 140, 1);
        border: 1px solid rgba(0, 74, 140, 1);
        font-weight: 700;
    }

    .prev-page,
    .next-page {
        position: relative;
        height: 30px;
        width: 30px;
        background: none;
        border: 1px solid rgba(165, 165, 165, 1);
    }

    .prev-page:before,
    .next-page::before {
        position: absolute;
        content: '';
        border-bottom: 1px solid rgba(165, 165, 165, 1);
        border-left: 1px solid rgba(165, 165, 165, 1);
        top: 40%;
        width: 8px;
        height: 8px;
        left: 12px;
        transform: rotate(45deg);
    }

    .next-page::before {
        transform: rotate(-135deg);
        right: 12px;
        left: auto;
    }

    .prev-page {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right: none;
    }

    .next-page {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

  .mini-nav{
    display: flex;
    column-gap: 20px;
    max-width: 1300px;
    margin: auto;
    margin-top: 10px;
    flex-wrap: wrap;
    .active-link{
        color: rgba(165, 165, 165, 1);
    }
    a{
        color: rgba(0, 74, 140, 1);
        position: relative;
        font-size: 12px;
    }
    a:not(:first-child)::before{
        position: absolute;
        content: '';
        height: 100%;
        width: 1px;
        background: rgba(165, 165, 165, 1);
        left: -10px;
    }
  }

@media screen and (max-width: 1300px) {
    .wrapper-1300 {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }

    .bottom-line::before {
        right: 0;
        width: 70%
    }
        .mini-nav{
            padding-left: 30px;
            row-gap: 10px
        }
}

@import 'cookies';
@import 'subscribe';
@import 'header';
@import 'mobile-nav';
@import 'hero';
@import 'reorganization';
@import 'founded';
@import 'error';
@import 'footer';
@import 'last-projects';
@import 'contacts';
@import 'directors';
@import 'object-2';
@import 'history';
@import 'main-hero';
@import 'main-technologies';
@import 'main-projects';
@import 'main-contact';
@import 'main-press';
@import 'press-center-news';
@import 'press-center-photo';
@import 'press-center-video';
@import 'press-center-glossary';
@import 'press-center-mass';
@import 'activity';
@import 'object';
@import 'one-news';
@import 'map';