*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.wrapper {
    max-width: 1300px;
    margin: auto
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

button {
    cursor: pointer;
}

.btn-box {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 14px;
    background: #209AD7;
    border-radius: 4px;
    width: 260px;
    height: 55px;
    border: none;
}

.mini-btn {
    background: none;
    border: 0.5px solid white;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder {
    color: white;
    font-family: 'Raleway', sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

.wrapper-1300 {
    max-width: 1300px;
    margin: auto;
}

.wrapper-1080 {
    max-width: 1080px;
    margin: auto;
}

.back-to::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 1px;
    left: 2px;
    top: 50%;
    background: rgba(74, 74, 73, 1);
    transform: translateY(50%);
}

.back-to::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-bottom: 1px solid rgba(74, 74, 73, 1);
    border-left: 1px solid rgba(74, 74, 73, 1);
    left: 0;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
}

.back-to {
    position: relative;
    font-size: 20px;
    color: rgba(74, 74, 73, 1);
    margin-top: 60px;
    padding-left: 30px
}

@import 'header';
@import 'hero';
@import 'reorganization';
@import 'founded';
@import 'error';
@import 'footer';
@import 'last-projects';
@import 'contacts';
@import 'directors';
@import 'object-2';
@import 'history';